{% assign count_images = product.images | size %}
{% assign column_center = 'col-sm-12 col-md-12' %}
<div id="quick-view-product" class="quickview-product" style="display:none;">
	<div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
	<div class="quick-view-product align-verticle"></div>
	<div id="quickview-modal" style="display:none;">
		<div class="block-quickview primary_block details-product">
			<div class="row">
				<div class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-5 col-xl-6">
					<div class="image-block large-image col_large_default">
						<span class="view_full_size">
							<a class="img-product d-block  pos-relative embed-responsive embed-responsive-1by1" title="" href="javascript:;">
								<img loading="lazy" src="https://mixcdn.egany.com/themes/assets/thumb/large/noimage.gif" id="product-featured-image-quickview" class="img-responsive product-featured-image-quickview" alt="quickview"  />
							</a>
						</span>
						<div class="loading-imgquickview" style="display:none;"></div>
					</div>
					<div class="more-view-wrapper clearfix">
						<div class="thumbs_quickview owl_nav_custome1" id="thumbs_list_quickview">
							<ul class="product-photo-thumbs quickview-more-views-owlslider not-thuongdq" id="thumblist_quickview"></ul>
						</div>
					</div>
				</div>
				<div class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-7 col-xl-6 details-pro style_product style_border">
					<div class="head-qv group-status">
						<h3 class="qwp-name title-product">abc</h3>
						<div class="vend-qv group-status">
							<div class="left_vend">
								<div class="first_status top_vendor d-inline-block">Thương hiệu:
									<span class="vendor_ status_name"></span>
								</div>		
								<span class="line_tt">|</span>
								<div class="top_sku first_status d-inline-block">Mã sản phẩm:
									<span class="sku_ status_name"></span>
								</div>
							</div>
						</div>
					</div>
					<input type='hidden' id='qv-product-tags'/>
					{%if settings.use_reviews and settings.use_reviews != ''-%}
					<div class="reviews_qv mt-2">
					</div>
					{%endif%}
					<div class="quickview-info clearfix">
						<span class="prices price-box">
							<span class="price product-price"></span>
							<del class="old-price"></del>
							<span class="label_product"></span>
						</span>
						
						{%assign promotion_app_name = settings.promotion_app_name-%}
						{%if promotion_app_name == "buyxgety_app"-%}
						{%include 'ega-buyxgety' section:"quickview"-%}
						{%endif%}
					</div>
					{%if settings.user_product_sumary%}
					<div class="product-description product-summary">
						<div class="rte">

						</div>
					</div>
					{%endif%}

					<form action="/cart/add" method="post" enctype="multipart/form-data" class="quick_option variants form-ajaxtocart form-product">
						<span class="price-product-detail hidden" style="opacity: 0;">
							<span class=""></span>
						</span>
						<select name='id' class="hidden" style="display:none"></select>
						
						{% if settings.use_product_promotion-%}
						<div class='product-promotion rounded-sm mb-3' id='qv-ega-salebox'></div>
						{% endif -%}
						
						<div class="form-group form_product_content">
							<div class="count_btn_style quantity_wanted_p">
								<div class="custom input_number_product soluong1">									
									<button class="btn_num btn num_1 button button_qty" onClick="var result = document.getElementById('quantity-detail'); var qtyqv = result.value; if( !isNaN( qtyqv ) &amp;&amp; qtyqv &gt; 1 ) result.value--;return false;">
										{%include 'icon-minus'-%}</button>
									<input type="text" id="quantity-detail" name="quantity" value="1" maxlength="2" class="form-control prd_quantity" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onchange="if(this.value == 0)this.value=1;">
									<button class="btn_num  btn num_2 button button_qty" onClick="var result = document.getElementById('quantity-detail'); var qtyqv = result.value; if( !isNaN( qtyqv )) result.value++;return false;">
										{%include 'icon-plus'-%}
									</button>
								</div>
								<div class="button_actions clearfix mb-0">
									<button type="submit" class="btn_cool btn fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart_detail">
										{{settings.product_addtocart_content}}
									</button>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>      
		<a title="Close" class="quickview-close close-window" href="javascript:;"><i class="fas fa-times"></i></a>
	</div>    
</div>
<script type="text/javascript">
	Haravan.doNotTriggerClickOnThumb = false;
	function changeImageQuickView(img, selector) {
		var src = $(img).attr("src");
		src = src.replace("_compact", "");
		
		var $videoEl = $(selector).parent();
		
		if($(img).hasClass('video')) {
			$(selector).parent().find('img').hide()
			var codevideo = $(img).parent().data().videocode.split("_")[1];
			var videoHtml = `<iframe class="img-responsive" width="560" height="315" src="https://www.youtube.com/embed/${codevideo}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
			$videoEl.append(videoHtml);
		} else {
			$videoEl.find("iframe").remove();
			$(selector).parent().find('img').show()
			$(selector).attr("src", src);
		}
	}
	function validate(evt) {
		var theEvent = evt || window.event;
		var key = theEvent.keyCode || theEvent.which;
		key = String.fromCharCode( key );
		var regex = /[0-9]|\./;
		if( !regex.test(key) ) {
			theEvent.returnValue = false;
			if(theEvent.preventDefault) theEvent.preventDefault();
		}
	}
	var selectCallbackQuickView = function(variant, selector) {
		$('#quick-view-product form').show();
		var productItem = jQuery('.quick-view-product .product-item'),
			addToCart = productItem.find('.add_to_cart_detail'),
			productPrice = productItem.find('.price'),
			comparePrice = productItem.find('.old-price'),
			discountLabel= productItem.find('.label_product'),
			form2 = jQuery('.soluong1'),
			status = productItem.find('.soluong'),
			sku = productItem.find('.sku_'),
			totalPrice = productItem.find('.total-price span');		
		if(variant && variant.sku ) {
			sku.text(variant.sku);
		} else {
			sku.text('Đang cập nhật');
		}
		if (variant && variant.available) {
			var form = jQuery('#' + selector.domIdPrefix).closest('form');
			for (var i=0,length=variant.options.length; i<length; i++) {
				var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
				if (radioButton.size()) {
					radioButton.get(0).checked = true;
				}
			}

			addToCart.removeClass('disabled').removeAttr('disabled');
			addToCart.html(`{{settings.product_addtocart_content}}`).removeAttr('disabled');
			status.text('Còn hàng');
			if(variant.price < 1){			   
				$("#quick-view-product .price").html('Liên hệ');
				$("#quick-view-product del, #quick-view-product .quantity_wanted_p").hide();
				$("#quick-view-product .prices .old-price").hide();
								discountLabel.hide()
				form2.hide();
			} else {
				productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
				if ( variant.compare_at_price > variant.price ) {
				  comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();         
				  let save = variant.compare_at_price - variant.price;
				  let savePerCent = Math.ceil(save / variant.compare_at_price * 100);
				  if(savePerCent > 99){
				  	savePerCent = 99
				  }
				  if(savePerCent < 1){
				  	savePerCent = 1
				  }
				  discountLabel.html('-'+savePerCent+ "%").show()
				  productPrice.addClass('on-sale');
			   } else {
				  comparePrice.hide();
				  discountLabel.hide()
				  productPrice.removeClass('on-sale');
			   }
			$(".quantity_wanted_p").show();
			$(".input_qty_qv_").show();
			form2.show();
		}


		{% if settings.use_color_swatch %}
		var form = jQuery('#' + selector.domIdPrefix).closest('form');
		for (var i=0,length=variant.options.length; i<length; i++) {
			var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
			if (radioButton.size()) {
				radioButton.get(0).checked = true;
			}
		}
		{% endif %}
		updatePricingQuickView();
		{% if settings.enable_multiple_currencies %}
		Currency.convertAll('{{ shop.currency }}', jQuery('#currencies').val(), 'span.money', 'money_format');
							{% endif %}
							/*begin variant image*/
							if (variant && variant.featured_image) {

			var originalImage = $("#product-featured-image-quickview");
			var newImage = variant.featured_image;
			var element = originalImage[0];
			Haravan.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
				$('#thumblist_quickview img').each(function() {
					var parentThumbImg = $(this).parent();
					var productImage = $(this).parent().data("image");
					if (newImageSizedSrc.includes(productImage)) {
						$(this).parent().trigger('click');
						return false;
					}
				});

			});
			$('#product-featured-image-quickview').attr('src',variant.featured_image.src);
		}
	} else {
		addToCart.addClass('disabled').attr('disabled', 'disabled');
		addToCart.removeClass('hidden').addClass('btn_buy is-full').attr('disabled','disabled').html('<div class="disabled">Hết hàng</div>');
		status.text('Hết hàng');
		$(".quantity_wanted_p").show();
		if(variant){
			if(variant.price < 1){	
				$("#quick-view-product .price").html('Liên hệ');
				$("#quick-view-product del").hide();
				//$("#quick-view-product .quantity_wanted_p").hide();
				$("#quick-view-product .prices .old-price").hide();
								discountLabel.hide()

				form2.hide();
				comparePrice.hide();
				discountLabel.hide();
				productPrice.removeClass('on-sale');
				addToCart.addClass('disabled').attr('disabled', 'disabled');
				addToCart.addClass('hidden').addClass('btn_buy is-full').attr('disabled','disabled').html('<div class="disabled">Hết hàng</div>').show();
			} else {
				productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
				if (variant.compare_at_price > variant.price) {
					comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();         
					productPrice.addClass('on-sale');
					let save = variant.compare_at_price - variant.price;
                    let savePerCent = Math.ceil(save / variant.compare_at_price * 100);
					if(savePerCent > 99){
						savePerCent = 99
					}
					if(savePerCent < 1){
						savePerCent = 1
					}
					discountLabel.html('-'+savePerCent+ "%").show()
				} else {
					comparePrice.hide();
					discountLabel.hide();
					productPrice.removeClass('on-sale');
					$("#quick-view-product .prices .old-price").html('');
				    discountLabel.hide()
				}
				
				$(".input_qty_qv_").hide();
				form2.hide();
				addToCart.addClass('disabled').attr('disabled', 'disabled');
				addToCart.removeClass('hidden').addClass('btn_buy is-full').attr('disabled','disabled').html('<div class="disabled">Hết hàng</div>');
			}
		}else{
			$("#quick-view-product .price").html('Liên hệ');
			$("#quick-view-product del").hide();
			$("#quick-view-product .quantity_wanted_p").hide();
			$("#quick-view-product .prices .old-price").hide();
							discountLabel.hide()

			form2.hide();
			comparePrice.hide();
			discountLabel.hide();

			productPrice.removeClass('on-sale');
			addToCart.addClass('disabled').attr('disabled', 'disabled');
			addToCart.removeClass('hidden').addClass('btn_buy is-full').attr('disabled','disabled').html('<div class="disabled">Hết hàng</div>');
		}
	}
	/*begin variant image*/
	if (variant && variant.featured_image) {

		var originalImage = $("#product-featured-image-quickview");
		var newImage = variant.featured_image;
		var element = originalImage[0];
		Haravan.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
			$('#thumblist_quickview img').each(function() {
				var parentThumbImg = $(this).parent();
				var productImage = $(this).parent().data("image");
				if (newImageSizedSrc.includes(productImage)) {
					$(this).parent().trigger('click');
					return false;
				}
			});

		});
		$('#product-featured-image-quickview').attr('src',variant.featured_image.src);
	}
	};
	
    if(typeof copyButton === 'undefined' && typeof codeCopy === 'undefined') {
	  const copyButton = {"copiedText": "{{settings.product_promotion_copied-}}", "copyText": "{{settings.product_promotion_copy-}}"};
	  function codeCopy(el){
				const copyText = copyButton.copyText;
				const copiedText = el.dataset.copiedText;
				const coupon = el.dataset.code;

				const _this = $(el);
				_this.html(`<span>${copiedText}</span>`);
				_this.addClass('disabled');
				setTimeout(function() {
					_this.html(`<span>${copyText}</span>`);
					_this.removeClass('disabled');
				}, 3000)
				navigator.clipboard.writeText(coupon);
			}
	}
</script>
