{% if settings.use_top_banner -%}
<div class="top-banner position-relative" style="background: {{settings.top_banner_color}}">
	<div class="container text-center px-0" >
		{% if settings.top_banner_mb -%}
		<a class="position-relative  d-sm-none d-block" 
		   style="max-height: {{settings.top_banner_mb_height}}px;height:  calc( {{settings.top_banner_mb_height}} * 100vw /{{settings.top_banner_mb_width}} )"
		   href="{{settings.top_banner_url}}" 
		   title="{{settings.top_banner_title}}">
			<img class='img-fluid position-absolute ' src="{{'top_banner_mb.jpg' |asset_url}}" 
				 style="left:0"
				 alt="{{settings.top_banner_title}}"
				 width="{{settings.top_banner_mb_width}}"
				 height="{{settings.top_banner_mb_height}}"
				 loading="lazy"
				 >
		</a>
		{% endif -%}
		<a class="position-relative{%if settings.top_banner_mb %} d-sm-block d-none {%else%} d-block {%endif%}" 
		   style="max-height: {{settings.top_banner_height}}px;height:  calc({{settings.top_banner_height}} * 100vw /{{settings.top_banner_width}})"
		   href="{{settings.top_banner_url}}" 
		   title="{{settings.top_banner_title}}">
			<picture>
				<source media="(max-width: 480px)" srcset="{{'top_banner.jpg' |asset_url | img_url:'large' }}">
				<img class='img-fluid position-absolute' src="{{'top_banner.jpg' |asset_url}}" 
					 style="left:0"
					 alt="{{settings.top_banner_title}}"
					 width="{{settings.top_banner_width}}"
					 height="{{settings.top_banner_height}}"
					 loading="lazy"
					 >
			</picture>
		</a>
		<button type="button" class="close " 
				aria-label="Close" style="z-index: 9;">✕</button>
	</div>
</div>
<script>
	$(document).ready(() => {
		$('.top-banner .close').click(()=>{
			$('.top-banner').slideToggle()
			sessionStorage.setItem("top-banner",true)
		})
	})

</script>
{% endif -%}